{% extends 'base.html' %}
{% block content %}

<h1>{{ employee.name }}'s Details</h1>
<div class="card" id="details-card" >
    <div class="card-content" id="avatar-container" >
    {% for photo in employee.photo_set.all %}
        <div class="col s6" id="avatar" >
        <img class="responsive-img card-panel" src="{{photo.url}}">
        <form method="post" action="{% url 'photo_delete' employee.id photo.id %}">
            {% csrf_token %}
            <button type="submit" class="btn-small" >Delete Avatar</button>
        </form>
        </div> 
    </div>
    {% empty %}
        <div class="card-panel teal-text center-align col s6">
            <img src="https://employeemanagement.s3.us-east-2.amazonaws.com/profilePH.png" alt="" class="responsive-img card-panel" id="avatar">
        </div>
        <form action="{% url 'add_photo' employee.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <button type="submit" class="btn">Upload Photo</button>
        </form>
    {% endfor %} 
    <!-- <form action="{% url 'add_photo' employee.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <button type="submit" class="btn">Upload Photo</button>
    </form> -->
    <div class="employee-details">
    <!-- <span class="card-title">{{ employee.name }}</span> -->
    <p>Position: {{ employee.position }}</p>
    <p>Age: {{ employee.age }}</p>
    <p>Years Employed: {{ employee.years_employed }}</p>
    <h5>Availability</h5>
    <p>Monday: {{ employee.monday_start }} - {{ employee.monday_end }}</p>
    <p>Tuesday: {{ employee.tuesday_start }} - {{ employee.tuesday_end }}</p>
    <p>Wednesday: {{ employee.wednesday_start }} - {{ employee.wednesday_end }}</p>
    <p>Thursday: {{ employee.thursday_start }} - {{ employee.thursday_end }}</p>
    <p>Friday: {{ employee.friday_start }} - {{ employee.friday_end }}</p>
    {% if user.is_superuser %}
    <form method="post" action="{% url 'employees_update' employee.id %}">
        {% csrf_token %}
        <button type="submit" class="btn-small" >Edit Employee</button>
    </form>
    <br>
    <form method="post" action="{% url 'employees_delete' employee.id %}">
        {% csrf_token %}
        <button type="submit" class="btn-small" >Remove Employee</button>
    </form>
    {% endif %}
</div>
</div>

<hr>
<div class="row">
    <div class="sCol">
        <h3>{{ employee.name }}'s Skills'</h3>
        {% if employee.skills.count %}
            {% for skill in employee.skills.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                        <h4>{{ skill.name }}</h4>
                        Pay Increase: {{ skill.pay_increase }}%
                        </span>
                    </div>
                    <div class="card-action">
                        {% if user.is_superuser %}
                        <form action="{% url 'unassoc_skill' employee.id skill.id %}" method="POST">
                          {% csrf_token %}
                          <button type="submit" class="btn">Remove</button>
                        </form>
                        {% endif %}
                      </div>
                </div>
            {% endfor %}
        {% else %}
        <h5>No Skills</h5>
        {% endif %}
    </div>
    <div class="sCol">
        <h3>Available Skills</h3>
        {% if skills.count %}
        {% for skill in skills.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    <h4>{{ skill.name }}</h4>
                        Pay Increase: {{ skill.pay_increase }}%
                </span>
            <form action="{% url 'assoc_skill' employee.id %}" method="POST">
                {% csrf_token %}
                <div class="input-field">
                    <select name="skill_id">
                            <option value="{{ skill.id }}">
                                {{ skill.name }}
                            </option>
                    </select>
                </div>
            </div>
                        {% endfor %}
        </div>

                {% if user.is_superuser %}
                <button type="submit" class="btn">Add</button>
                {% endif %}
            </form>

        {% else %}
        <h5>{{ employee.name }} Already Has All Skills Available</h5>
        {% endif %}
    </div>
</div>

<script>
    const skillsIdEl = document.getElementById('skill_id');
    M.FormSelect.init(skillsIdEl);
</script>

{% endblock %}