{% extends 'base.html' %} {% block content %}

<h1 class="title">List of Employees</h1>

<form id="filterForm" method="get" action="{% url 'index' %}">
  <label for="skill">Filter by Skill:</label>
  <select name="skill" id="skill">
    <option value="" selected>All Skills</option>
    {% for skill in skills.all %}
    <option value="{{ skill.id }}">{{ skill.name }}</option>
    {% endfor %}
  </select>

  <label for="position">Filter by Position:</label>
  <select name="position" id="position">
    <option value="" selected>All Positions</option>
    {% for position in positions.all %}
    <option value="{{ position.id }}">{{ position.name }}</option>
    {% endfor %}
  </select>

  <button
    id="filterButton"
    class="btn modal-trigger"
    data-target="filteredEmployeesModal"
    type="submit"
  >
    Filter
  </button>
</form>

<div class="card" id="form-card">
  {% for employee in employees %}
  <a href="/employees/{{ employee.id }}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ employee.name }}</span>
      </div>
    </div>
  </a>
  {% endfor %} {% if filtered_employees %}
  <div id="filteredEmployees" class="hidden">
    <div class="card-content">
      <h2>Filtered Employees</h2>
      <div class="card">
        <div class="card-content">
          <ul id="filteredEmployeesList">
            {% for emp in filtered_employees %}
            <li><a href="{{ emp.get_absolute_url }}">{{ emp.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
  const filterEl = document.getElementById("position");
  M.FormSelect.init(filterEl);

  const filterSkillEl = document.getElementById("skill");
  M.FormSelect.init(filterSkillEl);
</script>

{% endblock %}
