{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Management</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header>
    <nav>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="{% url 'home' %}">Home</a></li>
          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <li><a href="{% url 'admin' %}">Admin</a></li>
          <li><a href="{% url 'employee_create' %}">Create Employee</a></li>
          <li><a href="{% url 'skill_create' %}">Add Skill</a></li>
          <li><a href="{% url 'position_create' %}">Add Position</a></li>
          {% else %}
          {% endif %}
          <li><a href="{% url 'index' %}">View All Employees</a></li>
          <li><a href="{% url 'skills_index' %}">All Skills</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
