{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Employee Management</a></li>
            </ul>
            <ul>
                <li><a href="/about">About</a></li>
            </ul>
            <ul>
                <li><a href="/employees">View All Employees</a></li>
            </ul>
            <ul>
                <li><a href="/skills">All Skills</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>